<!-- Template for debugging purposes -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PPS Dashboard</title>
</head>
<body>
    <div style="margin:auto;width:50%;">
        <div style="display:inline-block;margin-left:50px;">
            <h1>Price Scrapes</h1>
            <p><strong>All Completed Price Scrapes In Database</strong></p>
            <!-- List all objects in CompletedFetch model -->
            <ul>
                {% for fetch in completed_fetch_list %}
                <li>
                {{ fetch.benchmark_type }} - {{ fetch.timestamp_id }}
                </li>
                {% empty %}
                <li>
                    <span>
                        No Completed Fetches In List
                    </span>
                </li>
                {% endfor %}
            </ul>
            <form action="{% url 'test_button_cpu_g' %}" method="post" style="display:inline-block;">
                {% csrf_token %}
                <input type="submit" value="Scrape CPU-G"><br />       
            </form>
            <form action="{% url 'test_button_cpu_n' %}" method="post" style="display:inline-block;">
                {% csrf_token %}
                <input type="submit" value="Scrape CPU-N"><br />       
            </form>
            <form action="{% url 'test_button_gpu' %}" method="post" style="display:inline-block;">
                {% csrf_token %}
                <input type="submit" value="Scrape GPU"><br />       
            </form>
        </div>
        <div style="display:inline-block;margin-left:50px;">
            <h1>Benchmarks</h1>
            <p><strong>All Benchmark Scrapes In Database</strong></p>
            <!-- List all objects in BenchmarkData model by their timestamps -->
            <ul>
                {% for benchmark in benchmark_data_list %}
                <li>
                {{ benchmark }}
                </li>
                {% empty %}
                <li>
                    <span>
                        No Benchmarks In List
                    </span>
                </li>
                {% endfor %}
            </ul>
            <form action="{% url 'test_button_benchmarks' %}" method="post" style="display:inline-block;">
                {% csrf_token %}
                <input type="submit" value="Scrape Benchmarks"><br />       
            </form>
        </div>
        <div style="display:inline-block;margin-left:50px;">
            <h3>{{ current_datetime }}</h3>
        </div>
    </div>
    <br />
    <div style="margin:20px auto 50px;width:50%;">
        <div style="display:inline-block;margin-left:50px;">
            <h1>Test If Scraping Works</h1>
            <p>Click on the button below to do a test scrape.
                <br />
                The status code and result of the request will then be displayed. (Requires JavaScript)
                <br />
                200 = Scraping works, 403 = Scraping does not work
            </p>
            <form id="test-scrape-button" style="display:inline-block;">
                {% csrf_token %}
                <input type="submit" value="Test Scrape">      
            </form>
            <div id="test-scrape-result" style="display:inline-block;margin-left:50px;">
                <strong>Scraping not tested</strong>
            </div>
    </div>
    <script>
        const testScrapeButton = document.getElementById("test-scrape-button");
        const testScrapeResult = document.getElementById("test-scrape-result");
    
        testScrapeButton.addEventListener("click", function(event) {
        event.preventDefault();

        fetch("{% url 'test_button_scrape' %}")
            .then(response => response.json())
            .then(data => {
                testScrapeResult.textContent = data.content;
            })
            .catch(error => {
                console.error("An error occurred:", error);
            });
        });

    </script>
</body>
</html>