:root {
  --primary: #dedfe4;
  --primary-hover: #616161;
  --primary-focus: rgba(172, 172, 172, 0.125);
  --table-border-color: rgba(44, 44, 44, 0.226);
}

#error-header {
  position: absolute;
  top: 20%;
}

.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar {
  width: 170px;
  position: absolute;
  padding-top: 10px;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding-left: 5px;
}

.sidebar::-webkit-scrollbar {
  display: none;
}

.fetch-content {
  margin-left: 190px;
  position: relative;
}

ul, li {
  list-style-type: none !important;
  margin: 0;
  padding: 0;
}

li {
  margin-top: 6px;
}

p {
  margin: 2px;
  color: white;
}

.full-fetch-link {
  text-decoration: none !important;
}

.full-fetch-list-item {
  /* background-color:rgb(44, 44, 44) !important; */
  background: linear-gradient(to bottom right, #202020, #3F3F3F);
  padding: 2px 10px;
  border-radius: 10px;
}

.full-fetch-list-item:hover {
  /* background-color: rgb(73, 73, 73) !important; */
  background: linear-gradient(to bottom right, #464646, #505050);
  text-decoration: none !important;
}

.sidebar-fetch-items {
  /* background-color:rgb(44, 44, 44) !important; */
  background: linear-gradient(to bottom right, #202020, #3F3F3F);
  padding: 1px 10px;
  padding-bottom: 8px;
  border-radius: 10px;
}

.GPU {
  color: #00FF7F;
}

.CPU-Gaming {
  color: #F0E68C;
}

.CPU-Normal {
  color: #64abed;
}

h1, h2, h3 {
  margin-bottom: 10px !important;
  word-break: normal;
}

h4 {
  margin-left: 2px;
  margin-bottom: 20px !important;
}

@media (max-width: 50em){
  .sidebar{
    display: none;
  }
  .fetch-content {
    margin-left: 0;
  }
}

.external-link {
  color:rgb(32, 147, 214);
}

.external-link:hover {
  color:rgb(144, 197, 228);
}

.external-link:visited {
  color:rgb(144, 53, 230);
}

.arrow {
  position: absolute;
}

.clickable {
  cursor: pointer;
}

.clickable:hover {
  color: var(--primary-hover);
}

.benchmark-table-container {
  display: flex;
  flex-direction: column;
  position: relative;
  /* width: 500px; */
  /* height: 300px; */
  /* background: #f1f1f1; */
  margin: 20px auto 0;
  word-break: break-all;
  /* border: 1px solid rgba(255, 255, 255, 0.274); */
}

.benchmark-table-tabs-container {
  display: flex;
}

.benchmark-table-tabs {
  padding: 12px;
  text-align: center;
  width: 50%;
  background: rgba(128, 128, 128, 0.13);
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.274);
  box-sizing: content-box;
  position: relative;
  outline: 1px solid rgb(0, 0, 0);
  font-size: x-large;
  word-break: normal;
  border-radius: 30px;
}

.benchmark-table-tabs:hover {
  background: rgba(128, 128, 128, 0.39);
  color:white;
  transition-duration: 0.3s;
}

.benchmark-table-tabs:not(:last-child) {
  border-right: 1px solid rgba(0, 0, 0, 0.274);
}

.benchmark-table-active-tabs {
  /* color:white; */
  color:#ebeff3;
  /* background: rgb(13,163,10) !important;
  background: linear-gradient(42deg, rgba(13,163,10,1) 0%, rgba(152,241,15,1) 100%) !important; */
  background: linear-gradient(-225deg, #22E1FF 0%, #1D8FE1 48%, #625EB1 100%) !important;
}



.benchmark-table-content-tabs {
  flex-grow : 1;
}

.benchmark-table-content {
  /* background: white; */
  padding: 10px;
  padding-top: 15px;
  width: 100%;
  height: 100%;
  display: none;
}

.benchmark-table-active-content {
  display: block;
}

.text-color-tier-1 {
  color: #2ECC71;
}

.text-color-tier-2 {
  color: #DAF7A6;
}

.text-color-tier-3 {
  color: #F4D03F;
}

.text-color-tier-4 {
  color: #E67E22;
}

.text-color-tier-5 {
  color: #E74C3C;
}

.text-color-tier-6 {
  /* color: #943126; */
  color: #b535ec;
}

.text-color-tier-7 {
  /* color: #7B7D7D; */
  color: #2f81fc;
}

.tableHead {
  color:#e1e6eb;
}

/* +9 -10 -15 */
/* .test-color-1 {
  color: rgb(0, 200, 255);
}
.test-color-2 {
  color: rgb(9, 190, 240);
}
.test-color-3 {
  color: rgb(18, 180, 225);
}
.test-color-4 {
  color: rgb(27, 170, 210);
}
.test-color-5 {
  color: rgb(36, 160, 195);
}
.test-color-6 {
  color: rgb(45, 150, 180);
}
.test-color-7 {
  color: rgb(54, 140, 165);
}
.test-color-8 {
  color: rgb(63, 130, 150);
}
.test-color-9 {
  color: rgb(72, 120, 135);
}
.test-color-10 {
  color: rgb(81, 110, 120);
}
.test-color-11 {
  color: rgb(90, 100, 105);
}
.test-color-12 {
  color: rgb(92, 92, 92);
} */

/* +4 -7 +1 */
.test-color-0 {
  color: rgb(0, 255, 64);
}
.test-color-1 {
  color: rgb(4, 248, 65);
}
.test-color-2 {
  color: rgb(8, 241, 66);
}
.test-color-3 {
  color: rgb(12, 234, 67);
}
.test-color-4 {
  color: rgb(16, 227, 68);
}
.test-color-5 {
  color: rgb(20, 220, 69);
}
.test-color-6 {
  color: rgb(24, 213, 70);
}
.test-color-7 {
  color: rgb(28, 206, 71);
}
.test-color-8 {
  color: rgb(32, 199, 72);
}
.test-color-9 {
  color: rgb(36, 192, 73);
}
.test-color-10 {
  color: rgb(40, 185, 74);
}
.test-color-11 {
  color: rgb(44, 178, 75);
}
.test-color-12 {
  color: rgb(48, 171, 76);
}
.test-color-13 {
  color: rgb(52, 164, 77);
}
.test-color-14 {
  color: rgb(56, 157, 78);
}
.test-color-15 {
  color: rgb(60, 150, 79);
}
.test-color-16 {
  color: rgb(64, 143, 80);
}
.test-color-17 {
  color: rgb(68, 136, 81);
}
.test-color-18 {
  color: rgb(72, 129, 82);
}
.test-color-19 {
  color: rgb(76, 122, 83);
}
.test-color-20 {
  color: rgb(80, 115, 84);
}
.test-color-21 {
  color: rgb(84, 108, 85);
}
.test-color-22 {
  color: rgb(88, 101, 86);
}
.test-color-23 {
  color: rgb(92, 94, 87);
}
.test-color-24 {
  color: rgb(96, 87, 88);
}

.ppr-color-25 {
  color: rgb(0, 255, 64);
}

.ppr-color-24 {
  color: rgb(4, 248, 65);
}

.ppr-color-23 {
  color: rgb(8, 241, 66);
}

.ppr-color-22 {
  color: rgb(12, 234, 67);
}

.ppr-color-21 {
  color: rgb(16, 227, 68);
}

.ppr-color-20 {
  color: rgb(20, 220, 69);
}

.ppr-color-19 {
  color: rgb(24, 213, 70);
}

.ppr-color-18 {
  color: rgb(28, 206, 71);
}

.ppr-color-17 {
  color: rgb(32, 199, 72);
}

.ppr-color-16 {
  color: rgb(36, 192, 73);
}

.ppr-color-15 {
  color: rgb(40, 185, 74);
}

.ppr-color-14 {
  color: rgb(44, 178, 75);
}

.ppr-color-13 {
  color: rgb(48, 171, 76);
}

.ppr-color-12 {
  color: rgb(52, 164, 77);
}

.ppr-color-11 {
  color: rgb(56, 157, 78);
}

.ppr-color-10 {
  color: rgb(60, 150, 79);
}

.ppr-color-9 {
  color: rgb(64, 143, 80);
}

.ppr-color-8 {
  color: rgb(68, 136, 81);
}

.ppr-color-7 {
  color: rgb(72, 129, 82);
}

.ppr-color-6 {
  color: rgb(76, 122, 83);
}

.ppr-color-5 {
  color: rgb(80, 115, 84);
}

.ppr-color-4 {
  color: rgb(84, 108, 85);
}

.ppr-color-3 {
  color: rgb(88, 101, 86);
}

.ppr-color-2 {
  color: rgb(92, 94, 87);
}

.ppr-color-1 {
  color: rgb(96, 87, 88);
}

.ppr-color-0 {
  color: rgb(82, 82, 82);
}

.ppr-color-0 {
  color: rgb(100, 80, 89);
}

.filter-button {
  font-size: x-large;
  background: linear-gradient(to bottom right, #045DE9, #09C6F9);
  padding: 10px 15px;
  margin-bottom: 0;
}

.filter-button::after {
  background-size: 1.5rem auto;
  width: 1.5rem;
  margin-top: 3px;
}

details {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

.filter-container {
  padding: 0 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

input[type="checkbox"]:checked {
  background-color: #008ee0;
  border-color: #00d9ff;
}

.nowrap {
  white-space: nowrap;
}

.word-break {
  word-break: normal;
}

@media (max-width: 50em){
  .nowrap {
    white-space: normal;
  }

  .word-break {
    word-break: break-all;
  }
}

table[role=grid] tbody tr:nth-child(odd) {
  background-color: rgba(87, 87, 87, 0.226);
}

.model-background {
  border-radius: 14px;
  padding: 5px 8px;
  margin: -5px;
  text-align: center;
  color: white;
  text-shadow:
       0px 0px 1px rgb(26, 26, 26),
     -1px -1px 1px rgb(26, 26, 26),  
      1px -1px 1px rgb(26, 26, 26),
      -1px 1px 1px rgb(26, 26, 26),
       1px 1px 1px rgb(26, 26, 26);
}

.rtx-4090 {
  background: linear-gradient(to bottom right, #1a5c06, #3abb3e);
  border: 2px solid rgb(109, 255, 141);
}

.rtx-4080 {
  background: linear-gradient(to bottom right, #15a025, #92F475);
  border: 2px solid rgb(109, 255, 141);
}

.rx-7900-xtx {
  background: linear-gradient(to bottom right, #51bd30, #EFFCA9);
  border: 2px solid rgb(162, 255, 109);
}

.rtx-4070-ti {
  background: linear-gradient(to bottom right, #4e491f, #ebdf3a);
  border: 2px solid rgb(255, 253, 109);
}

.rx-6950-xt {
  background: linear-gradient(to bottom right, #7c792a, #F7F477);
  border: 2px solid rgb(255, 253, 109);
}

.rx-7900-xt {
  background: linear-gradient(to bottom right, #bbb34a, #fffea5);
  border: 2px solid rgb(255, 254, 199);
}

.rx-6800-xt {
  background: linear-gradient(to bottom right, #fcf151, #f7f4b9);
  border: 2px solid rgb(255, 249, 216);
}

.rx-6800 {
  background: linear-gradient(to bottom right, #b47603, #d3b50e);
  border: 2px solid rgb(250, 189, 22);
}

.rtx-3070-ti {
  background: linear-gradient(to bottom right, #c58307, #fdca5b);
  border: 2px solid rgb(255, 202, 132);
}

.rx-6750-xt {
  background: linear-gradient(to bottom right, #dba102, #fffae1);
  border: 2px solid rgb(255, 243, 132);
}

.rtx-3070 {
  background: linear-gradient(to bottom right, #b48d20, #f6f87b);
  border: 2px solid rgb(248, 248, 145);
}

.rx-6700-xt {
  background: linear-gradient(to bottom right, #6e3f06, #FF9D08);
  border: 2px solid rgb(250, 144, 22);
}

.rtx-3060-ti {
  background: linear-gradient(to bottom right, #a03b00, #ffb108);
  border: 2px solid rgb(255, 136, 0);
}

.rx-6700 {
  background: linear-gradient(to bottom right, #ff4800, #ffd20c);
  border: 2px solid rgb(250, 178, 22);
}

.rx-6650-xt {
  background: linear-gradient(to bottom right, #da3300, #df9408);
  border: 2px solid rgb(250, 144, 22);
}

.rx-6600-xt {
  background: linear-gradient(to bottom right, #7c011a, #f23a43);
  border: 2px solid rgb(250, 22, 22);
}

.rtx-3060 {
  background: linear-gradient(to bottom right, #d60202, #f35b5b);
  border: 2px solid rgb(255, 86, 86);
}

.rx-6600 {
  background: linear-gradient(to bottom right, #cf2a2f, #f87a7e);
  border: 2px solid rgb(255, 114, 114);
}

.rtx-2060 {
  background: linear-gradient(to bottom right, #300888, #7f35c4);
  border: 2px solid rgb(147, 52, 255);
}

.rtx-3050 {
  background: linear-gradient(to bottom right, #651eff, #a46fd6);
  border: 2px solid rgb(167, 91, 255);
}

.gtx-1660-ti {
  background: linear-gradient(to bottom right, #cc00ff, #d481f5);
  border: 2px solid rgb(245, 132, 255);
}

.gtx-1660-super {
  background: linear-gradient(to bottom right, #a84ad3, #d89af1);
  border: 2px solid rgb(246, 142, 255);
}

.gtx-1660 {
  background: linear-gradient(to bottom right, #220f8d, #3f70db);
  border: 2px solid rgb(30, 127, 255);
}

.rx-6500-xt {
  background: linear-gradient(to bottom right, #2751dd, #69d1f3);
  border: 2px solid rgb(60, 144, 255);
}

.rx-6400 {
  background: linear-gradient(to bottom right, #1aabee, #dcfdff);
  border: 2px solid rgb(96, 231, 255);
}

.amd-7900x3d-g {
  background: linear-gradient(to bottom right, #1a5c06, #EFFCA9);
  border: 2px solid rgb(62, 255, 104);
}

.intel-13900ks-g {
  background: linear-gradient(to bottom right, #1a5c06, #3abb3e);
  border: 2px solid rgb(109, 255, 141);
}

.amd-7950x3d-g {
  background: linear-gradient(to bottom right, #3abb3e, #1a5c06);
  border: 2px solid rgb(109, 255, 141);
}

.intel-13900k-g {
  background: linear-gradient(to bottom right, #15a025, #92F475);
  border: 2px solid rgb(109, 255, 141);
}

.intel-13900f-g {
  background: linear-gradient(to bottom right, #92F475, #15a025);
  border: 2px solid rgb(109, 255, 141);
}

.intel-13900kf-g {
  background: linear-gradient(to bottom right, #51bd30, #EFFCA9);
  border: 2px solid rgb(162, 255, 109);
}

.amd-5800x3d-g {
  background: linear-gradient(to bottom right, #EFFCA9, #51bd30);
  border: 2px solid rgb(162, 255, 109);
}

.rx-7900-xtx {
  background: linear-gradient(to bottom right, #51bd30, #EFFCA9);
  border: 2px solid rgb(162, 255, 109);
}

.amd-7900x-g {
  background: linear-gradient(to bottom right, #4e491f, #ebdf3a);
  border: 2px solid rgb(255, 253, 109);
}

.intel-13700k-g {
  background: linear-gradient(to bottom right, #ebdf3a, #4e491f);
  border: 2px solid rgb(255, 253, 109);
}

.intel-13600k-g {
  background: linear-gradient(to bottom right, #7c792a, #F7F477);
  border: 2px solid rgb(255, 253, 109);
}

.intel-13600kf-g {
  background: linear-gradient(to bottom right, #F7F477, #7c792a);
  border: 2px solid rgb(255, 253, 109);
}

.intel-13700kf-g {
  background: linear-gradient(to bottom right, #bbb34a, #fffea5);
  border: 2px solid rgb(255, 254, 199);
}

.intel-12900ks-g {
  background: linear-gradient(to bottom right, #fffea5, #bbb34a);
  border: 2px solid rgb(255, 254, 199);
}

.amd-7600-g {
  background: linear-gradient(to bottom right, #fcf151, #f7f4b9);
  border: 2px solid rgb(255, 249, 216);
}

.amd-7600x-g {
  background: linear-gradient(to bottom right, #f7f4b9, #fcf151);
  border: 2px solid rgb(255, 249, 216);
}

.amd-7950x-g {
  background: linear-gradient(to bottom right, #b47603, #d3b50e);
  border: 2px solid rgb(250, 189, 22);
}

.intel-13700f-g {
  background: linear-gradient(to bottom right, #d3b50e, #b47603);
  border: 2px solid rgb(250, 189, 22);
}

.intel-13700-g {
  background: linear-gradient(to bottom right, #c58307, #fdca5b);
  border: 2px solid rgb(255, 202, 132);
}

.intel-12900k-g {
  background: linear-gradient(to bottom right, #fdca5b, #c58307);
  border: 2px solid rgb(255, 202, 132);
}

.amd-7700x-g {
  background: linear-gradient(to bottom right, #b48d20, #f6f87b);
  border: 2px solid rgb(248, 248, 145);
}

.intel-12900kf-g {
  background: linear-gradient(to bottom right, #f6f87b, #b48d20);
  border: 2px solid rgb(248, 248, 145);
}

.intel-12900f-g {
  background: linear-gradient(to bottom right, #6e3f06, #FF9D08);
  border: 2px solid rgb(250, 144, 22);
}

.intel-12900-g {
  background: linear-gradient(to bottom right, #FF9D08, #6e3f06);
  border: 2px solid rgb(250, 144, 22);
}

.intel-13500-g {
  background: linear-gradient(to bottom right, #a03b00, #ffb108);
  border: 2px solid rgb(255, 136, 0);
}

.intel-12600k-g {
  background: linear-gradient(to bottom right, #da3300, #df9408);
  border: 2px solid rgb(250, 144, 22);
}

.intel-12700k-g {
  background: linear-gradient(to bottom right, #df9408, #da3300);
  border: 2px solid rgb(250, 144, 22);
}

.intel-12600kf-g {
  background: linear-gradient(to bottom right, #ff4800, #ffd20c);
  border: 2px solid rgb(250, 178, 22);
}

.intel-12700kf-g {
  background: linear-gradient(to bottom right, #ffd20c, #ff4800);
  border: 2px solid rgb(250, 178, 22);
}

.intel-13400-g {
  background: linear-gradient(to bottom right, #4d000f, #ff7077);
  border: 2px solid rgb(250, 22, 22);
}

.amd-5900x-g {
  background: linear-gradient(to bottom right, #ff7077, #4d000f);
  border: 2px solid rgb(250, 22, 22);
}

.intel-13400f-g {
  background: linear-gradient(to bottom right, #7c011a, #f23a43);
  border: 2px solid rgb(250, 22, 22);
}

.amd-5600x-g {
  background: linear-gradient(to bottom right, #f23a43, #7c011a);
  border: 2px solid rgb(250, 22, 22);
}

.amd-5600-g {
  background: linear-gradient(to bottom right, #d60202, #f35b5b);
  border: 2px solid rgb(255, 86, 86);
}

.intel-12600-g {
  background: linear-gradient(to bottom right, #f35b5b, #d60202);
  border: 2px solid rgb(255, 86, 86);
}

.intel-12700-g {
  background: linear-gradient(to bottom right, #cf2a2f, #f87a7e);
  border: 2px solid rgb(255, 114, 114);
}

.intel-12700f-g {
  background: linear-gradient(to bottom right, #f87a7e, #cf2a2f);
  border: 2px solid rgb(255, 114, 114);
}

.amd-5800x-g {
  background: linear-gradient(to bottom right, #300888, #7f35c4);
  border: 2px solid rgb(147, 52, 255);
}

.amd-5950x-g {
  background: linear-gradient(to bottom right, #7f35c4, #300888);
  border: 2px solid rgb(147, 52, 255);
}

.amd-5700x-g {
  background: linear-gradient(to bottom right, #651eff, #a46fd6);
  border: 2px solid rgb(167, 91, 255);
}

.intel-12400f-g {
  background: linear-gradient(to bottom right, #a46fd6, #651eff);
  border: 2px solid rgb(167, 91, 255);
}

.intel-12500-g {
  background: linear-gradient(to bottom right, #a84ad3, #d89af1);
  border: 2px solid rgb(246, 142, 255);
}

.intel-12400-g {
  background: linear-gradient(to bottom right, #d89af1, #a84ad3);
  border: 2px solid rgb(246, 142, 255);
}

.amd-5500-g {
  background: linear-gradient(to bottom right, #220f8d, #3f70db);
  border: 2px solid rgb(30, 127, 255);
}

.amd-7900-g {
  background: linear-gradient(to bottom right, #2751dd, #69d1f3);
  border: 2px solid rgb(60, 144, 255);
}

.amd-7700-g {
  background: linear-gradient(to bottom right, #1aabee, #dcfdff);
  border: 2px solid rgb(96, 231, 255);
}

.amd-7900x3d-n {
  background: linear-gradient(to bottom right, #ebdf3a, #4e491f);
  border: 2px solid rgb(255, 253, 109);
}

.intel-13900ks-n {
  background: linear-gradient(to bottom right, #15a025, #92F475);
  border: 2px solid rgb(109, 255, 141);
}

.amd-7950x3d-n {
  background: linear-gradient(to bottom right, #1a5c06, #3abb3e);
  border: 2px solid rgb(109, 255, 141);
}

.intel-13900k-n {
  background: linear-gradient(to bottom right, #92F475, #15a025);
  border: 2px solid rgb(109, 255, 141);
}

.intel-13900f-n {
  background: linear-gradient(to bottom right, #EFFCA9, #51bd30);
  border: 2px solid rgb(162, 255, 109);
}

.intel-13900kf-n {
  background: linear-gradient(to bottom right, #51bd30, #EFFCA9);
  border: 2px solid rgb(162, 255, 109);
}

.amd-5800x3d-n {
  background: linear-gradient(to bottom right, #7f35c4, #300888);
  border: 2px solid rgb(147, 52, 255);
}

.rx-7900-xtx {
  background: linear-gradient(to bottom right, #51bd30, #EFFCA9);
  border: 2px solid rgb(162, 255, 109);
}

.amd-7900x-n {
  background: linear-gradient(to bottom right, #4e491f, #ebdf3a);
  border: 2px solid rgb(255, 253, 109);
}

.intel-13700k-n {
  background: linear-gradient(to bottom right, #bbb34a, #fffea5);
  border: 2px solid rgb(255, 254, 199);
}

.intel-13600k-n {
  background: linear-gradient(to bottom right, #dba102, #fffae1);
  border: 2px solid rgb(255, 243, 132);
}

.intel-13600kf-n {
  background: linear-gradient(to bottom right, #fffae1, #dba102);
  border: 2px solid rgb(255, 243, 132);
}

.intel-13700kf-n {
  background: linear-gradient(to bottom right, #fffea5, #bbb34a);
  border: 2px solid rgb(255, 254, 199);
}

.intel-12900ks-n {
  background: linear-gradient(to bottom right, #f7f4b9, #fcf151);
  border: 2px solid rgb(255, 249, 216);
}

.amd-7600-n {
  background: linear-gradient(to bottom right, #a46fd6, #651eff);
  border: 2px solid rgb(167, 91, 255);
}

.amd-7600x-n {
  background: linear-gradient(to bottom right, #300888, #d89af1);
  border: 2px solid rgb(147, 52, 255);
}

.amd-7950x-n {
  background: linear-gradient(to bottom right, #3abb3e, #1a5c06);
  border: 2px solid rgb(109, 255, 141);
}

.intel-13700f-n {
  background: linear-gradient(to bottom right, #b48d20, #f6f87b);
  border: 2px solid rgb(248, 248, 145);
}

.intel-13700-n {
  background: linear-gradient(to bottom right, #c58307, #fdca5b);
  border: 2px solid rgb(255, 202, 132);
}

.intel-12900k-n {
  background: linear-gradient(to bottom right, #b47603, #d3b50e);
  border: 2px solid rgb(250, 189, 22);
}

.amd-7700x-n {
  background: linear-gradient(to bottom right, #FF9D08, #6e3f06);
  border: 2px solid rgb(250, 144, 22);
}

.intel-12900kf-n {
  background: linear-gradient(to bottom right, #d3b50e, #b47603);
  border: 2px solid rgb(250, 189, 22);
}

.intel-12900f-n {
  background: linear-gradient(to bottom right, #6e3f06, #FF9D08);
  border: 2px solid rgb(250, 144, 22);
}

.intel-12900-n {
  background: linear-gradient(to bottom right, #ffb108, #a03b00);
  border: 2px solid rgb(255, 136, 0);
}

.intel-13500-n {
  background: linear-gradient(to bottom right, #7c011a, #f23a43);
  border: 2px solid rgb(250, 22, 22);
}

.intel-12600k-n {
  background: linear-gradient(to bottom right, #651eff, #a46fd6);
  border: 2px solid rgb(167, 91, 255);
}

.intel-12700k-n {
  background: linear-gradient(to bottom right, #ff4800, #ffd20c);
  border: 2px solid rgb(250, 178, 22);
}

.intel-12600kf-n {
  background: linear-gradient(to bottom right, #cc00ff, #d481f5);
  border: 2px solid rgb(245, 132, 255);
}

.intel-12700kf-n {
  background: linear-gradient(to bottom right, #ffd20c, #ff4800);
  border: 2px solid rgb(250, 178, 22);
}

.intel-13400-n {
  background: linear-gradient(to bottom right, #a84ad3, #d89af1);
  border: 2px solid rgb(246, 142, 255);
}

.amd-5900x-n {
  background: linear-gradient(to bottom right, #fdca5b, #c58307);
  border: 2px solid rgb(255, 202, 132);
}

.intel-13400f-n {
  background: linear-gradient(to bottom right, #d89af1, #a84ad3);
  border: 2px solid rgb(246, 142, 255);
}

.amd-5600x-n {
  background: linear-gradient(to bottom right, #220f8d, #dcfdff);
  border: 2px solid rgb(30, 127, 255);
}

.amd-5600-n {
  background: linear-gradient(to bottom right, #220f8d, #3f70db);
  border: 2px solid rgb(30, 127, 255);
}

.intel-12600-n {
  background: linear-gradient(to bottom right, #3f70db, #220f8d);
  border: 2px solid rgb(30, 127, 255);
}

.intel-12700-n {
  background: linear-gradient(to bottom right, #d60202, #f35b5b);
  border: 2px solid rgb(255, 86, 86);
}

.intel-12700f-n {
  background: linear-gradient(to bottom right, #cf2a2f, #f87a7e);
  border: 2px solid rgb(255, 114, 114);
}

.amd-5800x-n {
  background: linear-gradient(to bottom right, #300888, #7f35c4);
  border: 2px solid rgb(147, 52, 255);
}

.amd-5950x-n {
  background: linear-gradient(to bottom right, #fcf151, #f7f4b9);
  border: 2px solid rgb(255, 249, 216);
}

.amd-5700x-n {
  background: linear-gradient(to bottom right, #d481f5, #cc00ff);
  border: 2px solid rgb(245, 132, 255);
}

.intel-12400f-n {
  background: linear-gradient(to bottom right, #69d1f3, #2751dd);
  border: 2px solid rgb(60, 144, 255);
}

.intel-12500-n {
  background: linear-gradient(to bottom right, #2751dd, #69d1f3);
  border: 2px solid rgb(60, 144, 255);
}

.intel-12400-n {
  background: linear-gradient(to bottom right, #1aabee, #dcfdff);
  border: 2px solid rgb(96, 231, 255);
}

.amd-5500-n {
  background: linear-gradient(to bottom right, #dcfdff, #1aabee);
  border: 2px solid rgb(96, 231, 255);
}

.amd-7900-n {
  background: linear-gradient(to bottom right, #F7F477, #7c792a);
  border: 2px solid rgb(255, 253, 109);
}

.amd-7700-n {
  background: linear-gradient(to bottom right, #a03b00, #ffb108);
  border: 2px solid rgb(255, 136, 0);
}

.intel-13900-n {
  background: linear-gradient(to bottom right, #7c792a, #F7F477);
  border: 2px solid rgb(255, 253, 109);
}

.test-bg-1 {
  background: linear-gradient(to bottom right, #000000, #F7F477);
  border: 2px solid rgb(255, 253, 109);
}

.test-bg-2 {
  background: linear-gradient(to bottom right, #000000, #ffb108);
  border: 2px solid rgb(255, 136, 0);
}

.test-bg-3 {
  
}

.test-bg-4 {
  background: linear-gradient(to bottom right, #9e5a00, #ffd61f);
  border: 2px solid rgb(223, 121, 4);
}

.test-bg-5 {
  
}

.test-bg-6 {
  
}