:root {
  --primary: #dedfe4;
  --primary-hover: #616161;
  --primary-focus: rgba(172, 172, 172, 0.125);
}

#error-header {
  position: absolute;
  top: 20%;
}

.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar {
  width: 170px;
  position: absolute;
  padding-top: 10px;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding-left: 5px;
}

.sidebar::-webkit-scrollbar {
  display: none;
}

.fetch-content {
  margin-left: 190px;
  position: relative;
}

ul, li {
  list-style-type: none !important;
  margin: 0;
  padding: 0;
}

li {
  margin-top: 6px;
}

p {
  margin: 2px;
  color: white;
}

.full-fetch-link {
  text-decoration: none !important;
}

.full-fetch-list-item {
  background-color:rgb(44, 44, 44) !important;
  padding: 2px 10px;
  border-radius: 10px;
}

.full-fetch-list-item:hover {
  background-color: rgb(73, 73, 73) !important;
  text-decoration: none !important;
}

.sidebar-fetch-items {
  background-color:rgb(44, 44, 44) !important;
  padding: 1px 10px;
  padding-bottom: 8px;
  border-radius: 10px;
}

.GPU {
  color: #00FF7F;
}

.CPU-Gaming {
  color: #F0E68C;
}

.CPU-Normal {
  color: #64abed;
}

h1, h2, h3 {
  margin-bottom: 10px !important;
  word-break: normal;
}

h4 {
  margin-left: 2px;
  margin-bottom: 20px !important;
}

@media (max-width: 50em){
  .sidebar{
    display: none;
  }
  .fetch-content {
    margin-left: 0;
  }
}

.external-link {
  color:rgb(32, 147, 214);
}

.external-link:hover {
  color:rgb(144, 197, 228);
}

.external-link:visited {
  color:rgb(144, 53, 230);
}

.arrow {
  position: absolute;
}

.clickable {
  cursor: pointer;
}

.clickable:hover {
  color: var(--primary-hover);
}

.benchmark-table-container {
  display: flex;
  flex-direction: column;
  position: relative;
  /* width: 500px; */
  /* height: 300px; */
  /* background: #f1f1f1; */
  margin: 20px auto 0;
  word-break: break-all;
  /* border: 1px solid rgba(255, 255, 255, 0.274); */
}

.benchmark-table-tabs-container {
  display: flex;
}

.benchmark-table-tabs {
  padding: 12px;
  text-align: center;
  width: 50%;
  background: rgba(128, 128, 128, 0.13);
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.274);
  box-sizing: content-box;
  position: relative;
  outline: 1px solid rgb(0, 0, 0);
  font-size: x-large;
  word-break: normal;
  border-radius: 30px;
}

.benchmark-table-tabs:hover {
  background: rgba(128, 128, 128, 0.39);
  color:white;
  transition-duration: 0.3s;
}

.benchmark-table-tabs:not(:last-child) {
  border-right: 1px solid rgba(0, 0, 0, 0.274);
}

.benchmark-table-active-tabs {
  /* color:white; */
  color:#ebeff3;
  /* background: rgb(13,163,10) !important;
  background: linear-gradient(42deg, rgba(13,163,10,1) 0%, rgba(152,241,15,1) 100%) !important; */
  background: linear-gradient(-225deg, #22E1FF 0%, #1D8FE1 48%, #625EB1 100%) !important;
}



.benchmark-table-content-tabs {
  flex-grow : 1;
}

.benchmark-table-content {
  /* background: white; */
  padding: 10px;
  padding-top: 15px;
  width: 100%;
  height: 100%;
  display: none;
}

.benchmark-table-active-content {
  display: block;
}

.text-color-tier-1 {
  color: #2ECC71;
}

.text-color-tier-2 {
  color: #DAF7A6;
}

.text-color-tier-3 {
  color: #F4D03F;
}

.text-color-tier-4 {
  color: #E67E22;
}

.text-color-tier-5 {
  color: #E74C3C;
}

.text-color-tier-6 {
  color: #943126;
}

.text-color-tier-7 {
  color: #7B7D7D;
}

.tableHead {
  color:#e1e6eb;
}

/* +9 -10 -15 */
/* .test-color-1 {
  color: rgb(0, 200, 255);
}
.test-color-2 {
  color: rgb(9, 190, 240);
}
.test-color-3 {
  color: rgb(18, 180, 225);
}
.test-color-4 {
  color: rgb(27, 170, 210);
}
.test-color-5 {
  color: rgb(36, 160, 195);
}
.test-color-6 {
  color: rgb(45, 150, 180);
}
.test-color-7 {
  color: rgb(54, 140, 165);
}
.test-color-8 {
  color: rgb(63, 130, 150);
}
.test-color-9 {
  color: rgb(72, 120, 135);
}
.test-color-10 {
  color: rgb(81, 110, 120);
}
.test-color-11 {
  color: rgb(90, 100, 105);
}
.test-color-12 {
  color: rgb(92, 92, 92);
} */

/* +4 -7 +1 */
.test-color-0 {
  color: rgb(0, 255, 64);
}
.test-color-1 {
  color: rgb(4, 248, 65);
}
.test-color-2 {
  color: rgb(8, 241, 66);
}
.test-color-3 {
  color: rgb(12, 234, 67);
}
.test-color-4 {
  color: rgb(16, 227, 68);
}
.test-color-5 {
  color: rgb(20, 220, 69);
}
.test-color-6 {
  color: rgb(24, 213, 70);
}
.test-color-7 {
  color: rgb(28, 206, 71);
}
.test-color-8 {
  color: rgb(32, 199, 72);
}
.test-color-9 {
  color: rgb(36, 192, 73);
}
.test-color-10 {
  color: rgb(40, 185, 74);
}
.test-color-11 {
  color: rgb(44, 178, 75);
}
.test-color-12 {
  color: rgb(48, 171, 76);
}
.test-color-13 {
  color: rgb(52, 164, 77);
}
.test-color-14 {
  color: rgb(56, 157, 78);
}
.test-color-15 {
  color: rgb(60, 150, 79);
}
.test-color-16 {
  color: rgb(64, 143, 80);
}
.test-color-17 {
  color: rgb(68, 136, 81);
}
.test-color-18 {
  color: rgb(72, 129, 82);
}
.test-color-19 {
  color: rgb(76, 122, 83);
}
.test-color-20 {
  color: rgb(80, 115, 84);
}
.test-color-21 {
  color: rgb(84, 108, 85);
}
.test-color-22 {
  color: rgb(88, 101, 86);
}
.test-color-23 {
  color: rgb(92, 94, 87);
}
.test-color-24 {
  color: rgb(96, 87, 88);
}

.ppr-color-25 {
  color: rgb(0, 255, 64);
}

.ppr-color-24 {
  color: rgb(4, 248, 65);
}

.ppr-color-23 {
  color: rgb(8, 241, 66);
}

.ppr-color-22 {
  color: rgb(12, 234, 67);
}

.ppr-color-21 {
  color: rgb(16, 227, 68);
}

.ppr-color-20 {
  color: rgb(20, 220, 69);
}

.ppr-color-19 {
  color: rgb(24, 213, 70);
}

.ppr-color-18 {
  color: rgb(28, 206, 71);
}

.ppr-color-17 {
  color: rgb(32, 199, 72);
}

.ppr-color-16 {
  color: rgb(36, 192, 73);
}

.ppr-color-15 {
  color: rgb(40, 185, 74);
}

.ppr-color-14 {
  color: rgb(44, 178, 75);
}

.ppr-color-13 {
  color: rgb(48, 171, 76);
}

.ppr-color-12 {
  color: rgb(52, 164, 77);
}

.ppr-color-11 {
  color: rgb(56, 157, 78);
}

.ppr-color-10 {
  color: rgb(60, 150, 79);
}

.ppr-color-9 {
  color: rgb(64, 143, 80);
}

.ppr-color-8 {
  color: rgb(68, 136, 81);
}

.ppr-color-7 {
  color: rgb(72, 129, 82);
}

.ppr-color-6 {
  color: rgb(76, 122, 83);
}

.ppr-color-5 {
  color: rgb(80, 115, 84);
}

.ppr-color-4 {
  color: rgb(84, 108, 85);
}

.ppr-color-3 {
  color: rgb(88, 101, 86);
}

.ppr-color-2 {
  color: rgb(92, 94, 87);
}

.ppr-color-1 {
  color: rgb(96, 87, 88);
}

.ppr-color-0 {
  color: rgb(82, 82, 82);
}

.ppr-color-0 {
  color: rgb(100, 80, 89);
}

.filter-button {
  font-size: x-large;
  background: linear-gradient(to bottom right, #045DE9, #09C6F9);
  padding: 10px 15px;
  margin-bottom: 0;
}

.filter-button::after {
  background-size: 1.5rem auto;
  width: 1.5rem;
  margin-top: 3px;
}

details {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

.filter-container {
  padding: 0 10px;
}