-i https://pypi.org/simple
apscheduler==3.11.0; python_version >= '3.8'
asgiref==3.9.0; python_version >= '3.9'
beautifulsoup4==4.13.4; python_full_version >= '3.7.0'
certifi==2025.6.15; python_version >= '3.7'
charset-normalizer==3.4.2; python_version >= '3.7'
cloudscraper==1.2.71
django==5.2.4; python_version >= '3.10'
django-cors-headers==4.7.0; python_version >= '3.9'
djangorestframework==3.16.0; python_version >= '3.9'
graphene==3.4.3
graphene-django==3.2.3
graphql-core==3.2.6; python_version >= '3.6' and python_version < '4'
graphql-relay==3.2.0; python_version >= '3.6' and python_version < '4'
gunicorn==23.0.0; python_version >= '3.7'
idna==3.10; python_version >= '3.6'
packaging==25.0; python_version >= '3.8'
promise==2.3
psycopg2-binary==2.9.10; python_version >= '3.8'
pyparsing==3.2.3; python_version >= '3.9'
python-dateutil==2.9.0.post0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2'
python-decouple==3.8
requests==2.32.4; python_version >= '3.8'
requests-toolbelt==1.0.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
six==1.17.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2'
soupsieve==2.7; python_version >= '3.8'
sqlparse==0.5.3; python_version >= '3.8'
text-unidecode==1.3
typing-extensions==4.14.1; python_version >= '3.9'
tzdata==2025.2; python_version >= '2'
tzlocal==5.3.1; python_version >= '3.9'
urllib3==2.5.0; python_version >= '3.9'
